# Copy file này thành .env rồi điền giá trị thật
# cp .env.example .env

# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3000

# ─── MySQL ────────────────────────────────────────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=038206003536
DB_NAME=virusecurity
